pySMART
PyAutoGUI
pywin32==306
pywin32-ctypes==0.2.2
WMI
psutil
chardet
charset_mnbvc==0.0.15
elevate
filetype
pillow==10.4.0
pillow-jpls==1.3.2
pillow_heif==0.18.0
CairoSVG
PyMuPDF
crc32c
rawpy
pyinstaller==5.13.0
